@import 'reset';
@import 'theme';

html {
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

body {
    overflow-x: hidden;
    user-select: none;
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    color: #202124;
}

.page {
    min-height: max-content;
    width: 100%;
    padding: 0 14px 30px;

    @media (min-width: 1024px) {
        width: 66.666667%;
        max-width: 896px;
        padding: 0 0 30px;
    }
}

.photo {
    box-shadow: #00000026 0 2px 8px;
    border-radius: 8px;
}
